

.menu
{
    color: white;
    position: static;
    padding: 15px;
    margin: 10px;
    background-color: steelblue;
}

.menu div
{
    color: skyblue;
    position: static;

}
div.menu
{

}

.menu > a
{

}
.menuoption
{
    font-size: x-large;
}
#menubar
{

}